<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Ticket Management</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'new_ticket' %}">New Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage_tickets' %}">Manage Tickets</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-3">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
