{% if messages %}
    {% for message in messages %}
        <p class="alert alert-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" required>
    </div> <br>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" id="body" name="body" required></textarea>
    </div><br>
    <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" id="priority" name="priority">
            <option value="high">High</option>
            <option value="normal">Normal</option>
            <option value="low">Low</option>
        </select>
    </div><br>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ request.user.email }}" disabled>
    </div><br>
    <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input type="tel" class="form-control" id="phone_number" name="phone_number" value="{{ request.user.phone_number }}" disabled>
    </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
