<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ticket Confirmation</title>
  </head>
  <body>
    <h1>Ticket Confirmation</h1>
    <p>Your ticket has been successfully created!</p>
    <p>Subject: {{ ticket.subject }}</p>
    <p>Body: {{ ticket.body }}</p>
    <p>Priority: {{ ticket.priority }}</p>
    <p>Contact Email: {{ ticket.email }}</p>
    <p>Contact Phone Number: {{ ticket.phone_number }}</p>
  </body>
</html>
